body {
    background-color: #35736D;
}

.date {
    color: #C1DB6B;
    font-family: satisfy;
    font-size: 70px;
}

h1 {
    color: #C4C4C4;
    font-family: anta;
    font-size: 45px;
}

.titleDiv {
    background-color: #35736D;
    padding-bottom: 20px;
    text-align: center;
}

.clock {
    color: #C4C4C4;
    font-family: anta;
    font-size: 75px;
    padding: 25px;
}

.clockDiv {
    position: relative;
    text-align: center;
}

.dateDiv {
    padding: 30px;
    text-align: center;
}

.lead {
    color: #C4C4C4;
    font-family: anta;
    font-size: 20px;
}